{$DOMAIN} {
  encode gzip

  handle /api/* {
    reverse_proxy app:3000
  }

  handle /health {
    respond "ok" 200
  }

  handle /mini-app* {
    reverse_proxy app:3000
  }

  handle {
    respond "Euro Save backend" 200
  }
}
